.main.slides.container {
	position: absolute;
	top: 15vh;
	left: 15vw;
	width: 70vw;
	height: 70vh;
	border: solid 1px #aaaaaa;
}

#html5-badge{
	background-image: url("/img/html5_logo.png");
}

#css3-badge{
	background-image: url("/img/css3_logo.png");
}

#js-badge {
	background-image: url("/img/js_logo.png");
}

.html5.components.badges .badge{
	position: absolute;
	background-size: contain;
	width: 150px;
	height: 180px;
}